# CMS Credentials (you may not need all of these)
CLIO_CLIENT_ID=
CLIO_CLIENT_SECRET=
CLIO_REDIRECT_URI=
CLIO_SCOPES=


FILEVINE_FIRM_ID=
FILEVINE_SAMPLE_PATH=

FILEVINE_CLIENT_ID=
FILEVINE_CLIENT_SECRET=
FILEVINE_SCOPES=

# Your database connection (depends on your choice)
DATABASE_URL=

TEST_DATABASE_URL=

# Scheduler
SCHEDULER_ENABLED=false
SYNC_INTERVAL_SECONDS=300

